body{
margin:0;
font-family:Orbitron, sans-serif;
background:radial-gradient(circle,#14002a,#000);
color:white;
overflow:hidden;
}

.logo{
text-align:center;
margin-top:120px;
font-size:60px;
color:#00f7ff;

text-shadow:
0 0 10px #00f7ff,
0 0 30px #00f7ff,
0 0 60px #ff00ff;
}

.brand{
text-align:center;
margin-bottom:50px;
opacity:.7;
}

button{
display:block;
margin:15px auto;
padding:18px 70px;
font-size:20px;

background:linear-gradient(45deg,#ff00ff,#00f7ff);

border:none;
border-radius:10px;

color:white;

box-shadow:
0 0 10px #ff00ff,
0 0 30px #00f7ff;

transition:.2s;
}

button:hover{
transform:scale(1.1);
}

#game{
display:none;
height:100vh;
position:relative;
}

#lanes{
display:flex;
height:100%;
}

.lane{
flex:1;
border-left:1px solid rgba(255,255,255,.1);
border-right:1px solid rgba(255,255,255,.1);
position:relative;
}

.tile{
position:absolute;
width:100%;
height:120px;

background:linear-gradient(#00f7ff,#ff00ff);

border-radius:8px;

box-shadow:
0 0 10px #00f7ff,
0 0 30px #ff00ff;
}

#hitLine{
position:absolute;
bottom:150px;
height:5px;
width:100%;

background:#00f7ff;

box-shadow:0 0 20px #00f7ff;
}

#score{
position:absolute;
top:20px;
left:50%;
transform:translateX(-50%);
font-size:40px;
}

#gameOver{
display:none;

position:absolute;
top:0;
left:0;

width:100%;
height:100%;

background:#000;

text-align:center;

padding-top:200px;
  }
